@model gestaoCaridade.Models.Membro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Membro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LugarNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LugarNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocIdentidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocIdentidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroEndereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroEndereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComplementoEndereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComplementoEndereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UFEndereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UFEndereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCasamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCasamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoSanguineo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoSanguineo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeEsposo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeEsposo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatNascEsposo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatNascEsposo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeFilho1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeFilho1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatNascFilho1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatNascFilho1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfissaoCargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfissaoCargo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CnpjCpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CnpjCpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InscricaoEstadual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InscricaoEstadual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComplementoEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComplementoEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BairroEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BairroEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CidadeEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CidadeEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UfEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UfEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CepEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CepEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefoneEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefoneEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaxEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaxEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InfoImportantes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InfoImportantes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AfastamentoSaida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AfastamentoSaida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataSaida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReturnUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMembro">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
