@model IEnumerable<gestaoCaridade.Models.Membro>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataEntrada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LugarNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocIdentidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroEndereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComplementoEndereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UFEndereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cep)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoCivil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCasamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoSanguineo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeEsposo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatNascEsposo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeFilho1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatNascFilho1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfissaoCargo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CnpjCpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InscricaoEstadual)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnderecoEmpresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroEmpresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComplementoEmpresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BairroEmpresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CidadeEmpresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UfEmpresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CepEmpresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelefoneEmpresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FaxEmpresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailEmpresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InfoImportantes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AfastamentoSaida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataSaida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnUrl)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LugarNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocIdentidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplementoEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UFEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCivil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCasamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSanguineo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEsposo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatNascEsposo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFilho1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatNascFilho1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfissaoCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CnpjCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscricaoEstadual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplementoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BairroEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CidadeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UfEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CepEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaxEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfoImportantes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AfastamentoSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMembro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMembro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMembro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
