@model gestaoCaridade.Models.EventoCliente

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>EventoCliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteSelecionado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClienteSelecionado.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventoSelecionado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventoSelecionado.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEventoCliente">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
