@model gestaoCaridade.Models.ReceitaArtesao

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>ReceitaArtesao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comissao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdReceitaArtesao">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
