@model gestaoCaridade.Models.Doacao

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir?</h3>
<div>
    <h4>Doacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Objeto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Objeto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Origem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Origem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoadorSelecionado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoadorSelecionado.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventoSelecionado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventoSelecionado.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDoacao" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
