@model IEnumerable<gestaoCaridade.Models.Ingresso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingressos</h2>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataVenda)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.EventoIngresso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendedorResponsavel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventoIngresso.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendedorResponsavel.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdIngresso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdIngresso">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdIngresso">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
