@model gestaoCaridade.Models.Evento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local" class="control-label"></label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelMesa" class="control-label"></label>
                <select asp-for="idResponsavelMesa" class ="form-control" asp-items="ViewBag.idResponsavelMesa"></select>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelPalco" class="control-label"></label>
                <select asp-for="idResponsavelPalco" class ="form-control" asp-items="ViewBag.idResponsavelPalco"></select>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelCozinha" class="control-label"></label>
                <select asp-for="idResponsavelCozinha" class ="form-control" asp-items="ViewBag.idResponsavelCozinha"></select>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelBebidas" class="control-label"></label>
                <select asp-for="idResponsavelBebidas" class ="form-control" asp-items="ViewBag.idResponsavelBebidas"></select>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelCaixas" class="control-label"></label>
                <select asp-for="idResponsavelCaixas" class ="form-control" asp-items="ViewBag.idResponsavelCaixas"></select>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelLixo" class="control-label"></label>
                <select asp-for="idResponsavelLixo" class ="form-control" asp-items="ViewBag.idResponsavelLixo"></select>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelSeguranca" class="control-label"></label>
                <select asp-for="idResponsavelSeguranca" class ="form-control" asp-items="ViewBag.idResponsavelSeguranca"></select>
            </div>
            <div class="form-group">
                <label asp-for="idResponsavelLimpeza" class="control-label"></label>
                <select asp-for="idResponsavelLimpeza" class ="form-control" asp-items="ViewBag.idResponsavelLimpeza"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ClubeAgendado" /> @Html.DisplayNameFor(model => model.ClubeAgendado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ConfirmarNumeroMesas" /> @Html.DisplayNameFor(model => model.ConfirmarNumeroMesas)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="VerificaCozinha" /> @Html.DisplayNameFor(model => model.VerificaCozinha)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ConfirmarFuncionarios" /> @Html.DisplayNameFor(model => model.ConfirmarFuncionarios)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ConfeccionarConvites" /> @Html.DisplayNameFor(model => model.ConfeccionarConvites)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FazerCartaPedidos" /> @Html.DisplayNameFor(model => model.FazerCartaPedidos)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EntregarConvites" /> @Html.DisplayNameFor(model => model.EntregarConvites)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FazerCartaAgradecimento" /> @Html.DisplayNameFor(model => model.FazerCartaAgradecimento)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FazerCartaBetheisDemolays" /> @Html.DisplayNameFor(model => model.FazerCartaBetheisDemolays)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ComprarCartela" /> @Html.DisplayNameFor(model => model.ComprarCartela)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="NumerarCartela" /> @Html.DisplayNameFor(model => model.NumerarCartela)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CarimbarCartela" /> @Html.DisplayNameFor(model => model.CarimbarCartela)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ContratarSom" /> @Html.DisplayNameFor(model => model.ContratarSom)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ContratarSegurancas" /> @Html.DisplayNameFor(model => model.ContratarSegurancas)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarRoleta" /> @Html.DisplayNameFor(model => model.ProvidenciarRoleta)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SepararFichas" /> @Html.DisplayNameFor(model => model.SepararFichas)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LevarTroco" /> @Html.DisplayNameFor(model => model.LevarTroco)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarCaixaDinheiro" /> @Html.DisplayNameFor(model => model.ProvidenciarCaixaDinheiro)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarVasilha" /> @Html.DisplayNameFor(model => model.ProvidenciarVasilha)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarPratinhos" /> @Html.DisplayNameFor(model => model.ProvidenciarPratinhos)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarPratosGarfos" /> @Html.DisplayNameFor(model => model.ProvidenciarPratosGarfos)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarCoposColheres" /> @Html.DisplayNameFor(model => model.ProvidenciarCoposColheres)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarLapis" /> @Html.DisplayNameFor(model => model.ProvidenciarLapis)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarGuardanapos" /> @Html.DisplayNameFor(model => model.ProvidenciarGuardanapos)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarPanodePrato" /> @Html.DisplayNameFor(model => model.ProvidenciarPanodePrato)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarPerfex" /> @Html.DisplayNameFor(model => model.ProvidenciarPerfex)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarFosforo" /> @Html.DisplayNameFor(model => model.ProvidenciarFosforo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarBuchinha" /> @Html.DisplayNameFor(model => model.ProvidenciarBuchinha)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarPapelHigienico" /> @Html.DisplayNameFor(model => model.ProvidenciarPapelHigienico)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarToalhaMesa" /> @Html.DisplayNameFor(model => model.ProvidenciarToalhaMesa)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarSacoLixo" /> @Html.DisplayNameFor(model => model.ProvidenciarSacoLixo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarCestaBebida" /> @Html.DisplayNameFor(model => model.ProvidenciarCestaBebida)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarBandejas" /> @Html.DisplayNameFor(model => model.ProvidenciarBandejas)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarCrachas" /> @Html.DisplayNameFor(model => model.ProvidenciarCrachas)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarBloquinho" /> @Html.DisplayNameFor(model => model.ProvidenciarBloquinho)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarBebidas" /> @Html.DisplayNameFor(model => model.ProvidenciarBebidas)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProvidenciarComidas" /> @Html.DisplayNameFor(model => model.ProvidenciarComidas)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FazerCardapio" /> @Html.DisplayNameFor(model => model.FazerCardapio)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FazerAgradecimento" /> @Html.DisplayNameFor(model => model.FazerAgradecimento)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FazerListaBrindes" /> @Html.DisplayNameFor(model => model.FazerListaBrindes)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ComparPlasticoEmbalar" /> @Html.DisplayNameFor(model => model.ComparPlasticoEmbalar)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FazerValeTicket" /> @Html.DisplayNameFor(model => model.FazerValeTicket)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FazerEscala" /> @Html.DisplayNameFor(model => model.FazerEscala)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="MarcarHorarioChegada" /> @Html.DisplayNameFor(model => model.MarcarHorarioChegada)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

