@model gestaoCaridade.Models.Evento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubeAgendado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubeAgendado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmarNumeroMesas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfirmarNumeroMesas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VerificaCozinha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VerificaCozinha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmarFuncionarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfirmarFuncionarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfeccionarConvites)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfeccionarConvites)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FazerCartaPedidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FazerCartaPedidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntregarConvites)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntregarConvites)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FazerCartaAgradecimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FazerCartaAgradecimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FazerCartaBetheisDemolays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FazerCartaBetheisDemolays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComprarCartela)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComprarCartela)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumerarCartela)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumerarCartela)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarimbarCartela)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarimbarCartela)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContratarSom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContratarSom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContratarSegurancas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContratarSegurancas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarRoleta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarRoleta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SepararFichas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SepararFichas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LevarTroco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LevarTroco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarCaixaDinheiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarCaixaDinheiro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarVasilha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarVasilha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarPratinhos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarPratinhos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarPratosGarfos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarPratosGarfos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarCoposColheres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarCoposColheres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarLapis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarLapis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarGuardanapos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarGuardanapos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarPanodePrato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarPanodePrato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarPerfex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarPerfex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarFosforo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarFosforo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarBuchinha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarBuchinha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarPapelHigienico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarPapelHigienico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarToalhaMesa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarToalhaMesa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarSacoLixo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarSacoLixo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarCestaBebida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarCestaBebida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarBandejas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarBandejas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarCrachas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarCrachas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarBloquinho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarBloquinho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarBebidas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarBebidas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvidenciarComidas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProvidenciarComidas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FazerCardapio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FazerCardapio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FazerAgradecimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FazerAgradecimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FazerListaBrindes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FazerListaBrindes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComparPlasticoEmbalar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComparPlasticoEmbalar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FazerValeTicket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FazerValeTicket)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FazerEscala)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FazerEscala)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarcarHorarioChegada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarcarHorarioChegada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelBebidas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelBebidas.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelCaixas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelCaixas.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelCozinha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelCozinha.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelLimpeza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelLimpeza.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelLixo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelLixo.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelMesa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelMesa.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelPalco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelPalco.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelSeguranca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelSeguranca.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEvento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
