@model gestaoCaridade.Models.Evento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClubeAgendado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClubeAgendado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmarNumeroMesas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfirmarNumeroMesas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelBebidas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelBebidas.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelCaixas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelCaixas.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelCozinha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelCozinha.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelLimpeza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelLimpeza.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelLixo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelLixo.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelMesa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelMesa.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelPalco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelPalco.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelSeguranca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelSeguranca.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEvento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
