@model IEnumerable<gestaoCaridade.Models.Evento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eventos</h2>

<p>
    <a asp-action="Create">Criar Evento</a>
</p>

<form asp-controller="Evento" asp-action="Index">
    <p>
        Nome: <input type="text" name="Nome">
        Tipo: <input type="text" name="Tipo">
        <input type="submit" value="Pesquisar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEvento">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEvento">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEvento">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
