@model gestaoCaridade.Models.ChecklistEvento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>ChecklistEvento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReservaLocal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReservaLocal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventoVinculado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventoVinculado.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDChecklist">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
