@model gestaoCaridade.Models.ArtesaoEvento

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Artesão e evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArtesaoSelecionado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtesaoSelecionado.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventoVinculado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventoVinculado.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorVendido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorVendido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComissaoArtesao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComissaoArtesao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdArtesaoEvento">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
