@model IEnumerable<gestaoCaridade.Models.ArtesaoEvento>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de artesãos em eventos</h2>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtesaoSelecionado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventoVinculado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVendido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComissaoArtesao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtesaoSelecionado.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventoVinculado.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorVendido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComissaoArtesao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdArtesaoEvento">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdArtesaoEvento">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdArtesaoEvento">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
